* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	width: 100%;
	height: 100%;
	max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.mainmenu {
  height: 50px;
}

.center-fit {
	background-color: #464646;
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
  	width: 100vw;
  	left: 0px;
  	top: 0px;
	position: absolute;
	z-index: -1;
	opacity: .4;
}

.home-fit {
	background-color: #464646;
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
  	width: 100vw;
  	left: 0px;
  	top: 0px;
	position: absolute;
	z-index: -1;
}

.menu-fit {
	background-color: #464646;
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 70%;
  	width: 100vw;
  	left: 0px;
  	top: 0px;
	position: absolute;
	z-index: -1;
	object-fit: cover;
}

/*.menu-background {
	height: 50%;
}
*/
.logo img {
	margin-top: 50px;
	width: 198px;
	height: 189px;
}

.text p {
	margin: 50px 200px;
   	color: #000;
   	letter-spacing: 5px;
}

.button {
	margin: 50px 40px;
  	background-color: #f57e42;
  	border: none;
  	border-radius: 8px;
  	color: white;
  	padding: 20px;
 	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	cursor: pointer;
  	font-family: 'Roboto', sans-serif;
}

.button1 {
	margin: 20px 20px;
  	background-color: #f57e42;
  	border: none;
  	border-radius: 8px;
  	color: white;
 	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
  	cursor: pointer;
  	font-family: 'Roboto', sans-serif;
}

.menu {
	padding-left: 150px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bolder;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f48032;
}

div .pointer {
  	width: 100%;
  	align-content: center;
  	position:relative;
	margin-top:28%;
} 

#section1 {
	position: relative;
  height: 650px;
}

#mainmenu1 {
  position: relative;
  height: 450px;
}

/*.bfst {
  position: absolute;
background-size: contain;
  object-fit: cover;
  top: 0;
  left: 0;
  height: auto;
  width: 50%;
}*/

#section2 {
  height: 1300px;
  background-color: white;
}

#section3 {
  height: 500px;
  background-color: #e6e6e6;
}

#section4 {
  height: 500px;
  background-color: #e6e6e6;
}

.home2-modal {
	background-color: #f57e42;
}

.footer-image1 {
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
  	width: 100vw;
  	left: 0px;
  	top: 0px;
	z-index: -1;
/*	opacity: .8;*/
}

.jumbotron {
   background: rgba(255, 0, 0, 0.2); 
}

.newsletter {
	background-color: #f57e42;
	height: 80px;
}

.newsl {
	background: url(../images/seta-newsletter.png) #fff no-repeat 50%;
	padding: 6px 15px;
	background-size: 10px;
    border-color: #fff;
    height: 30px;
}

.footer1 {
	background-color: #333333;
}

.meaticon {
	height: 50px;
	width: 50px;
}

.contacts1 {
	text-align: left !important;
}

a:visited {
  color: white;
}

.foodmenu {
  font-size: 20px;
  color: #f57e42;
  letter-spacing: .1em;
}

  /* For mobile phones: */
@media only screen and (max-width: 420px) {

  .text p {
    width: auto;
    margin: 30px 30px;
  }

  .logo img {
	margin-top: 80px;
	width: 98px;
	height: 89px;
  }

  .button {
	margin: 20px 20px;
  }
  
  #my-content { 
    display: none; 
  }

}

@media only screen and (min-width: 768px) {

 .text p {
    width: auto;
    margin: 30px 30px;
  }

  .logo img {
	margin-top: 250px;
	width: 198px;
	height: 189px;
  }

}

@media only screen and (min-width: 992px) {

  .text p {
    width: auto;
    margin: 50px 200px;
  }

  .logo img {
	margin-top: 80px;
	width: 198px;
	height: 189px;
  }

 }